<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.stream.mapper.StreamModelMapper">
    <!--根据StreamModel的name查询stream-->
    <select id="findByStreamName" resultType="org.jeecg.modules.stream.entity.IotStreamModel">
        select *
        from iot_stream_model
        where name = #{name}
    </select>
    <!--更新iotStreamModel-->
    <update id="updateStreamById">
        update iot_stream_model
        set name = #{iotStreamModel.name},
        description = #{iotStreamModel.description},
        projectName = #{iotStreamModel.projectname},
        tags = #{iotStreamModel.tags},
        implementedShapes = #{iotStreamModel.implementedshapes},
        thingTemplate = #{iotStreamModel.thingtemplate},
        enabled = #{iotStreamModel.enabled},
        avatar = #{iotStreamModel.avatar},
        configurationChanges = #{iotStreamModel.configurationchanges},
        identifier = #{iotStreamModel.identifier},
        documentationContent = #{iotStreamModel.documentationcontent},
        published = #{iotStreamModel.published},
        valueStream = #{iotStreamModel.valuestream},
        homeMashup = #{iotStreamModel.homemashup},
        dataShape = #{iotStreamModel.datashape}
        where id = #{iotStreamModel.id}
    </update>
    <!--根据id删除streamModel-->
    <delete id="deleteStreamModel">
        delete from iot_stream_model where id=#{streamModel.id}
    </delete>
</mapper>