<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.P2020052.mapper.ReportMapper">


    <!-- PERT查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.P2020052.pojo.PiplanActivityVo">
        <result column="activityId" property="activityId"/>
        <result column="targetStartTime" property="targetStartTime"/>
        <result column="byTime" property="byTime"/>
        <result column="expectedFinishTime" property="expectedFinishTime"/>
        <result column="actualStartTime" property="actualStartTime"/>
        <result column="actualEndTime" property="actualEndTime"/>
    </resultMap>

    <!-- 部门风险系数表查询映射结果 -->
    <resultMap id="CaseResultMap" type="org.jeecg.modules.P2020052.pojo.GroupRiskVo">
        <!--        colum对应数据库的字段,property对应实体类的属性-->
        <result column="plan_activity_ref_id" property="activityId"/>
        <result column="target_start_date" property="actualStartDate"/>
        <result column="standard_work_qty" property="standardWorkQty"/>
        <result column="actual_work_qty" property="actualWorkQty"/>
        <result column="weights" property="weights"/>
        <result column="standard_deviation_value" property="standardDeviationValue"/>
        <result column="standard_difficulty_value" property="standardDifficultyValue"/>
        <result column="deviation_report" property="deviationReport"/>
        <result column="difficulty_report" property="difficultyReport"/>
        <result column="breadth" property="breadth"/>
        <result column="criticality" property="criticality"/>
    </resultMap>


    <!-- 项目风险系数表查询映射结果 -->
    <resultMap id="DaseResultMap" type="org.jeecg.modules.P2020052.pojo.ProjectRiskVo">
        <!--        colum对应数据库的字段,property对应实体类的属性-->
        <result column="project_id" property="projectId"/>
        <result column="project_name" property="name"/>
        <result column="plan_activity_ref_id" property="preRatio"/>
        <result column="plan_start_date" property="startTime"/>
        <result column="standard_deviation_value" property="standardDeviationValue"/>
        <result column="standard_difficulty_value" property="standardDifficultyValue"/>
        <result column="deviation_report" property="deviationReport"/>
        <result column="difficulty_report" property="difficultyReport"/>
    </resultMap>

    <!-- 用户部门查询映射结果 -->
    <resultMap id="UaseResultMap" type="org.jeecg.modules.P2020052.pojo.UserVo">
        <!--        colum对应数据库的字段,property对应实体类的属性-->
        <result column="groupId" property="groupId"/>
        <result column="groupName" property="groupName"/>
        <result column="userId" property="userId"/>
        <result column="userName" property="userName"/>
    </resultMap>
    <!-- 任务执行查询映射结果 -->
    <resultMap id="TaseResultMap" type="org.jeecg.modules.P2020052.pojo.TaskVo">
        <!--        colum对应数据库的字段,property对应实体类的属性-->
        <result column="container_info_name" property="executive"/>
        <result column="name" property="planName"/>
        <result column="inPlanName" property="inPlanName"/>
        <result column="plan_activity_ref_id" property="activiteId"/>
        <result column="weights" property="weights"/>
        <result column="in_standardDeviationValue" property="in_standardDeviationValue"/>
        <result column="in_code" property="in_code"/>
        <result column="in_deviationReport" property="in_deviationReport"/>
        <result column="in_description" property="in_description"/>
        <result column="standard_deviation_value" property="standardDeviationValue"/>
        <result column="standard_difficulty_value" property="standardDifficultyValue"/>
        <result column="deviation_report" property="deviationReport"/>
        <result column="difficulty_report" property="difficultyReport"/>
        <result column="breadth" property="breadth"/>
        <result column="criticality" property="criticality"/>
        <result column="actual_work_qty" property="standardWork"/>
        <result column="target_work_qty" property="reportWork"/>
        <result column="otRating" property="Output"/>
        <result column="code" property="code"/>
        <result column="report_time" property="report_time"/>
        <result column="description" property="description"/>
        <result column="completion_status" property="releases"/>
    </resultMap>
          <!--查询任务id-->
    <resultMap id="TaseIdResultMap" type="org.jeecg.modules.P2020052.pojo.TaskId">
        <!--        colum对应数据库的字段,property对应实体类的属性-->
        <result column="id" property="id"/>

    </resultMap>

    <select id="projectWeekCycle" resultMap="BaseResultMap">
            SELECT
	a.target_start_date as targetStartTime,
	b.target_end_date as byTime
FROM
	( SELECT piplan_activity.target_start_date, piplan_activity.project_ref_id FROM piplan_activity WHERE piplan_activity.project_ref_id = #{projectId} ORDER BY piplan_activity.target_start_date LIMIT 1 ) a,
	( SELECT piplan_activity.target_end_date, piplan_activity.project_ref_id FROM piplan_activity WHERE piplan_activity.project_ref_id = #{projectId} ORDER BY piplan_activity.target_end_date DESC LIMIT 1 ) b
WHERE
	a.project_ref_id = b.project_ref_id

    </select>

    <select id="taskExecution" resultMap="TaseResultMap">
        select * from
        (
        select
        stproject_instanceinindicator.plan_activity_ref_id,
        stproject_instanceinindicator.weights,
        stproject_instanceotindicator.code,
        stproject_instanceotindicator.report_time,
        stproject_instanceotindicator.description,
        stproject_instanceotindicator.standard_deviation_value,
        stproject_instanceotindicator.standard_difficulty_value,
        stproject_instanceotindicator.deviation_report,
        stproject_instanceotindicator.difficulty_report,
        stproject_instanceotindicator.breadth,
        stproject_instanceotindicator.criticality,
        stproject_instanceotindicator.completion_status,
        e.otRating,
        piproject_container.container_info_name
        from
        stproject_instanceotindicator left join piproject_container on
        stproject_instanceotindicator.container_ref_id = piproject_container.id,
        stproject_instanceinindicator
        LEFT JOIN
        ( SELECT strating.in_indicator_ref_id, GROUP_CONCAT( strating.ot_rating SEPARATOR ',' )
        otRating FROM strating
        GROUP BY strating.in_indicator_ref_id ) e
        ON e.in_indicator_ref_id = stproject_instanceinindicator.id
        where stproject_instanceinindicator.ot_code = stproject_instanceotindicator.code
        and stproject_instanceinindicator.plan_activity_ref_id in(select id from piplan_activity where
        piplan_activity.project_ref_id = #{projectId} )
        )a,
        (
        select piplan_activity.id,
        piplan_activity.name,
        piplan_activity.actual_work_qty,
        piplan_activity.target_work_qty
        from piplan_activity where piplan_activity.project_ref_id = #{projectId}
        <if test="userId != null and userId!= ''">
            and piplan_activity.owner_id in
            <foreach collection="userId" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>

        )b
        where a.plan_activity_ref_id = b.id
        order by a.plan_activity_ref_id
    </select>


    <select id="groupUser" resultMap="UaseResultMap">
     SELECT
	a.groupId,
	c.NAME AS groupName,
	a.userId,
	b.NAME AS userName
            FROM
                (
            SELECT
                roleaobject_id AS groupId,
                rolebobject_id AS userId
            FROM
                membership_link
            WHERE
                rolebobject_id IN (
            SELECT
                id
            FROM
                piuser
            WHERE
                id IN (
            SELECT
                user_ref_id
            FROM
                piresource
            WHERE
                id IN ( SELECT rsrc_ref_id FROM piresource_assignment WHERE plannable_ref_id IN ( SELECT id FROM piplan_activity
                <where>
                    <if test="projectId!= null and projectId !=''and projectId !='null'" >
                        project_ref_id = #{projectId}
                    </if>
                </where>


        ) )
                )
                )
                ) a,
                (
            SELECT
                id,
            NAME
            FROM
                piuser
            WHERE
                id IN (
            SELECT
                user_ref_id
            FROM
                piresource
            WHERE
                id IN ( SELECT rsrc_ref_id FROM piresource_assignment WHERE plannable_ref_id IN ( SELECT id FROM piplan_activity
        <where>
            <if test="projectId!= null and projectId !=''and projectId !='null'" >
                project_ref_id = #{projectId}
            </if>
        </where>
                 ) )
                )
                ) b,
                (
            SELECT
                id,
            NAME
            FROM
                pigroup
            WHERE
                id IN (
            SELECT
                roleaobject_id
            FROM
                membership_link
            WHERE
                rolebobject_id IN (
            SELECT
                id
            FROM
                piuser
            WHERE
                id IN (
            SELECT
                user_ref_id
            FROM
                piresource
            WHERE
                id IN ( SELECT rsrc_ref_id FROM piresource_assignment WHERE plannable_ref_id IN ( SELECT id FROM piplan_activity
        <where>
            <if test="projectId!= null and projectId !=''and projectId !='null'" >
                project_ref_id = #{projectId}
            </if>
        </where>
                ) )
                )
                )
                )
                ) c
            WHERE
                a.userId = b.id
                AND c.id = a.groupId
    </select>


    <select id="pertTable" resultMap="BaseResultMap">
        SELECT
            pa.id AS activityId,
            pa.target_start_date AS targetStartTime,
            pa.target_end_date AS byTime,
            sft.expected_finish_time AS expectedFinishTime,
            pa.actual_start_date AS actualStartTime
        FROM
            piplan_activity pa,
            stexpected_finish_time sft
        WHERE
            pa.id = sft.plan_activity_ref_id
			and pa.id = #{activeId}
    </select>

    <!-- 根据用户名查询 -->
    <select id="ProjectRiskTable" resultMap="DaseResultMap">
        SELECT
        c.*,
        d.plan_start_date,
        d.project_name
        FROM
        (
        SELECT
        *
        FROM
        (
        SELECT
        stproject_instanceinindicator.plan_activity_ref_id,
        stproject_instanceotindicator.standard_deviation_value,
        stproject_instanceotindicator.standard_difficulty_value,
        stproject_instanceotindicator.deviation_report,
        stproject_instanceotindicator.difficulty_report
        FROM
        stproject_instanceinindicator,
        stproject_instanceotindicator
        WHERE
        stproject_instanceinindicator.ot_code = stproject_instanceotindicator.CODE
        AND stproject_instanceinindicator.plan_activity_ref_id IN (
        SELECT id FROM piplan_activity  pa WHERE pa.project_ref_id = #{projectId}
         )
        ) a,
        (SELECT id,pa.project_ref_id as project_id FROM piplan_activity  pa WHERE pa.project_ref_id =#{projectId}
         ) b
        WHERE
        a.plan_activity_ref_id = b.id
        ) c,
        (SELECT piproject.id,piproject.plan_start_date, piproject.project_name FROM piproject WHERE id =#{projectId}
        ) d
        WHERE
        c.project_id = d.id
        ORDER BY
        c.project_id
    </select>
    <!-- 根据用户名查询 -->
    <select id="SectorRiskFactor" resultMap="CaseResultMap">
        SELECT
        a.*,
        b.*
        FROM
        (
        SELECT
        stproject_instanceinindicator.plan_activity_ref_id,
        stproject_instanceinindicator.weights,
        stproject_instanceotindicator.standard_deviation_value,
        stproject_instanceotindicator.standard_difficulty_value,
        stproject_instanceotindicator.deviation_report,
        stproject_instanceotindicator.difficulty_report,
        stproject_instanceotindicator.breadth,
        stproject_instanceotindicator.criticality
        FROM
        stproject_instanceinindicator,
        stproject_instanceotindicator
        WHERE
        stproject_instanceinindicator.ot_code = stproject_instanceotindicator.CODE
        AND stproject_instanceinindicator.plan_activity_ref_id IN (
        SELECT
        id
        FROM
        piplan_activity
        WHERE
        piplan_activity.id IN (
        SELECT
        piresource_assignment.plannable_ref_id
        FROM
        piresource_assignment
        WHERE
        piresource_assignment.rsrc_ref_id IN ( SELECT piresource.id FROM piresource WHERE piresource.user_ref_id in
        <foreach collection="userId" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        )
        )
        )
        ) a,
        (
        SELECT
        id,
        piplan_activity.actual_work_qty,
        piplan_activity.standard_work_qty,
        piplan_activity.target_start_date
        FROM
        piplan_activity

        WHERE

        piplan_activity.id IN (
        SELECT
        piresource_assignment.plannable_ref_id
        FROM
        piresource_assignment
        WHERE

        piresource_assignment.rsrc_ref_id IN (
        SELECT piresource.id FROM piresource WHERE piresource.user_ref_id in
        <foreach collection="userId" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        )
        )
        <if test="startTime!= null and startTime !=''" >
            and piplan_activity.target_start_date between  #{startTime}  and #{endTime}
        </if>
        ) b
    </select>
    <select id="selectAllActId" resultType="java.lang.String">
      	SELECT
		id
	FROM
		piplan_activity
	WHERE
		piplan_activity.project_ref_id = #{projectId}
    <if test="userId != null and userId!= ''">
        and piplan_activity.owner_id in
        <foreach collection="userId" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </if>

    </select>

    <select id="selectInById" resultMap="TaseResultMap">
   select * from
        (
        select
        stproject_instanceinindicator.plan_activity_ref_id,
        stproject_instanceinindicator.weights,
        stproject_instanceotindicator.code as in_code,
        stproject_instanceotindicator.report_time,
        stproject_instanceotindicator.description as in_description,
        stproject_instanceotindicator.standard_deviation_value as in_standardDeviationValue,
        stproject_instanceotindicator.deviation_report as in_deviationReport,
        e.otRating,
        piproject_container.container_info_name
        from
        stproject_instanceotindicator left join piproject_container on
        stproject_instanceotindicator.container_ref_id = piproject_container.id,
        stproject_instanceinindicator
        LEFT JOIN
        ( SELECT strating.in_indicator_ref_id, GROUP_CONCAT( strating.ot_rating SEPARATOR ',' )
        otRating FROM strating
        GROUP BY strating.in_indicator_ref_id ) e
        ON e.in_indicator_ref_id = stproject_instanceinindicator.id
        where stproject_instanceinindicator.ot_code = stproject_instanceotindicator.code
        and stproject_instanceinindicator.plan_activity_ref_id =#{id}
        )a,
        (
        select piplan_activity.id,
        piplan_activity.name,
        piplan_activity.actual_work_qty,
        piplan_activity.target_work_qty
        from piplan_activity where piplan_activity.id =#{id}
        )b
        where a.plan_activity_ref_id = b.id
    </select>


    <select id="selectINOTById" resultMap="TaseResultMap">
		SELECT
	A.*,
	B.*
FROM
	(
SELECT
	c.*,
	@rownum := @rownum + 1 AS rn
FROM
	(
SELECT
	stproject_instanceotindicator.plan_activity_ref_id,
	stproject_instanceotindicator.CODE,
	stproject_instanceotindicator.description,
	stproject_instanceotindicator.standard_deviation_value,
	stproject_instanceotindicator.standard_difficulty_value,
	stproject_instanceotindicator.deviation_report,
	stproject_instanceotindicator.difficulty_report,
	stproject_instanceotindicator.breadth,
	stproject_instanceotindicator.criticality,
	stproject_instanceotindicator.completion_status,
	piplan_activity.NAME,
	piplan_activity.actual_work_qty,
	piplan_activity.target_work_qty
FROM
	stproject_instanceotindicator,
	piplan_activity
WHERE
	piplan_activity.id = stproject_instanceotindicator.plan_activity_ref_id
	AND stproject_instanceotindicator.plan_activity_ref_id = #{id}

	) c,
	( SELECT @rownum := 0 ) t
	) A
	LEFT JOIN (
	SELECT
		d.*,
		@rownum1 := @rownum1 + 1 AS rn
	FROM
		(
		SELECT
			piplan_activity.NAME AS inPlanName,
			stproject_instanceinindicator.weights,
			stproject_instanceotindicator.CODE AS in_code,
			stproject_instanceotindicator.report_time,
			stproject_instanceotindicator.description AS in_description,
			stproject_instanceotindicator.standard_deviation_value AS in_standardDeviationValue,
			stproject_instanceotindicator.deviation_report AS in_deviationReport,
			e.otRating,
			piproject_container.container_info_name
		FROM
			stproject_instanceotindicator
			LEFT JOIN piproject_container ON stproject_instanceotindicator.container_ref_id = piproject_container.id,
			stproject_instanceinindicator
			LEFT JOIN ( SELECT strating.in_indicator_ref_id, GROUP_CONCAT( strating.ot_rating SEPARATOR ',' ) otRating FROM strating GROUP BY strating.in_indicator_ref_id ) e ON e.in_indicator_ref_id = stproject_instanceinindicator.id,
			piplan_activity
		WHERE
			stproject_instanceinindicator.ot_code = stproject_instanceotindicator.CODE
			AND stproject_instanceinindicator.plan_activity_ref_id = #{id}

			AND piplan_activity.id = #{id}

		) d,
		( SELECT @rownum1 := 0 ) t
	) B ON A.rn = B.rn UNION
SELECT
	A.*,
	B.*
FROM
	(
	SELECT
		c.*,
		@rownum2 := @rownum2 + 1 AS rn
	FROM
		(
		SELECT
			stproject_instanceotindicator.plan_activity_ref_id,
			stproject_instanceotindicator.CODE,
			stproject_instanceotindicator.description,
			stproject_instanceotindicator.standard_deviation_value,
			stproject_instanceotindicator.standard_difficulty_value,
			stproject_instanceotindicator.deviation_report,
			stproject_instanceotindicator.difficulty_report,
			stproject_instanceotindicator.breadth,
			stproject_instanceotindicator.criticality,
			stproject_instanceotindicator.completion_status,
			piplan_activity.NAME,
			piplan_activity.actual_work_qty,
			piplan_activity.target_work_qty
		FROM
			stproject_instanceotindicator,
			piplan_activity
		WHERE
			piplan_activity.id = stproject_instanceotindicator.plan_activity_ref_id
			AND stproject_instanceotindicator.plan_activity_ref_id = #{id}

		) c,
		( SELECT @rownum2 := 0 ) t
	) A
	RIGHT JOIN (
	SELECT
		d.*,
		@rownum3 := @rownum3 + 1 AS rn
	FROM
		(
		SELECT
			piplan_activity.NAME AS inPlanName,
			stproject_instanceinindicator.weights,
			stproject_instanceotindicator.CODE AS in_code,
			stproject_instanceotindicator.report_time,
			stproject_instanceotindicator.description AS in_description,
			stproject_instanceotindicator.standard_deviation_value AS in_standardDeviationValue,
			stproject_instanceotindicator.deviation_report AS in_deviationReport,
			e.otRating,
			piproject_container.container_info_name
		FROM
			stproject_instanceotindicator
			LEFT JOIN piproject_container ON stproject_instanceotindicator.container_ref_id = piproject_container.id,
			stproject_instanceinindicator
			LEFT JOIN ( SELECT strating.in_indicator_ref_id, GROUP_CONCAT( strating.ot_rating SEPARATOR ',' ) otRating FROM strating GROUP BY strating.in_indicator_ref_id ) e ON e.in_indicator_ref_id = stproject_instanceinindicator.id,
			piplan_activity
		WHERE
			stproject_instanceinindicator.ot_code = stproject_instanceotindicator.CODE
			AND stproject_instanceinindicator.plan_activity_ref_id = #{id}

			AND piplan_activity.id = #{id}

		) d,
	( SELECT @rownum3 := 0 ) t
) B ON A.rn = B.rn
    </select>

    <select id="selectAllId" resultType="java.lang.String">
           select id from piproject
    </select>
</mapper>